body {
	background: url('https://cdn.pixabay.com/photo/2017/05/01/03/10/black-and-white-2274601_960_720.jpg')no-repeat center center fixed; 
    background-size: cover;
    color: white;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 960px;
    font-family: 'Merriweather', serif;
}

.jumbotron {
	background-color: #0c0c0c;
    color: white;
    opacity: 50%;
    border: 5px solid black;
    font-family: 'Monoton', cursive;
}

.panel-footer {
    background-color: #452436;
    color: white;
    border-top: 20px solid #26233B;
}